# Space-Track.org
SPACETRACK_IDENTITY=
SPACETRACK_PASSWORD=

# AWS Credentials
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=
S3_BUCKET_NAME=

# PATH
ABSOLUTE_PATH=

# docker-compose
AIRFLOW_UID=  # id -u
DOCKER_GID=  # getent group docker
AIRFLOW_JWT_SECRET=  # openssl rand -hex 32
_AIRFLOW_WWW_USER_USERNAME=
_AIRFLOW_WWW_USER_PASSWORD=
